.welcomeWrapper {
    background-color: #eeebf3;
    width: 100%;
    min-height: 100vh;
    .welcome {
        max-width: 1100px;
        margin: 0 auto;
        padding: 240px 0 80px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        .card {
            padding: 24px 40px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.4);
            border-radius: 24px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            .cardTitle {
                color: #240779;
                font-size: 24px;
                font-weight: 700;
            }
            .image {
                width: 120px;
                height: 120px;
            }
            .button {
                border-radius: 20px;
                background: #9a7af1;
                color: #fff;
                font-size: 14px;
                font-weight: 700;
                width: 100%;
                padding: 12px 50px;
                box-shadow: none;
                outline: none;
                border: none;
                &:hover {
                    box-shadow: 0px 0px 10px rgba(154, 122, 241, 0.44);
                }
            }
        }
    }
}
