.header {
    background: #eeebf3;
    .headerInner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1100px;
        margin: 20px auto;
        width: 100%;
        .button {
            border-radius: 20px;
            background: rgba(154, 122, 241, 0.44);
            padding: 12px 40px;
            color: #fff;
            font-size: 14px;
            font-weight: 700;
            cursor: pointer;
            transition: all 0.1s ease-in-out;
            &:hover {
                box-shadow: 0px 0px 10px rgba(154, 122, 241, 0.44);
            }
        }
        .image {
            width: 53px;
            height: 41px;
        }
    }

    .modelTitle {
        color: #240779;
        font-size: 20px;
        font-weight: 700;
    }
}

.footer {
    background-color: #261274;
    .footerInner {
        max-width: 1100px;
        margin: 0 auto;
        padding: 40px 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap: 64px;
        .col {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 12px;
            min-width: 200px;
        }
        .banner {
            display: flex;
            gap: 12px;
            align-items: center;
            .image {
                width: 53px;
                height: 41px;
            }
        }
        .bannerText {
            color: #fff;
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            line-height: 20px;
        }
        .copyright {
            color: rgba(255, 255, 255, 0.8);
            font-size: 14px;
        }
        .title {
            color: #fff;
            font-size: 20px;
        }
        .contact,
        a {
            color: #fff;
            font-size: 14px;
        }
    }
}
