.hide {
  display: none;
}

.modalHeader:hover {
  cursor: all-scroll;
}

.modalQuestion {
 padding: 0.3em;
}

.clientMsg {

  background-color: white;
  color: black;
  padding: 0.4em;
  border-radius: 0.4em;
  margin: 0.5em 6em 0.5em 0;

}

.userMsg {
  background-color: #b2e281;
  color: black;
  padding: 0.4em;
  border-radius: 0.4em;
  margin: 0.5em 0 0.5em 6em;
  align-self: flex-end;
}