
.container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  .leftPanel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    background-color: #5A57FF;
    border-radius: 0 2em 2em 0;
    min-width: 120px;
    height: 100vh;
    overflow-y: scroll;

    .NavBar {
      flex-grow: 1;

      a {
        color: white;
        margin-top: 1em;

      }

      .topItem {
        margin-top: 5em;
      }

    }

    .signOut {
      color: white;
      margin-top: 1em;
      margin-bottom: 1em;
      padding: 0.2em;

    }

    .signOut:hover {
      cursor: pointer;
    }
  }

  .rightPanel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 4;
    height: 100vh;
    overflow-y: scroll;


    .appBar {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      .appBarContent {
        margin: 0.6em 1em 0.6em 1em;
      }

    }

    .rightContainer {
      display: flex;
      flex-direction: column;
      background-color: #efefef;
      flex-grow: 1;

      .topTitle{
        font-weight: bold;
        margin: 1em 0 0 2em;
      }
      .topContainer {
        display: flex;
        flex-direction: row;

        .topCard {
          background-color: white;
          padding: 1em;
          margin: 1em;
          border-radius: 1em;
        }
      }
      .bottomTitle{
        font-weight: bold;
        margin: 1em 0 0 2em;
      }
      .bottomContainer{
        display: flex;
        flex-direction:column;
        background-color: white;
        padding: 1em;
        margin: 1em;
        border-radius: 1em;
        flex-grow: 1;
      }
    }

  }

}