.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: #4c29bf;

    .image {
        margin-bottom: 2em;
        margin-top: 2em;
    }

    .text {
        color: white;
        font-size: 24px;
        margin-top: 1em;
        margin-bottom: 2em;
        font-weight: bold;
    }
    .formGroup {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        .inputGroupWrapper {
            display: flex;
            gap: 16px;
            align-items: center;
            justify-content: center;
        }
        .inputGroup {
            display: flex;
            gap: 16px;
            align-items: center;
            padding: 12px;
            border: 1px solid white;
            border-radius: 4px;
            width: 300px;
            input,
            input:-webkit-autofill,
            input:-webkit-autofill:hover,
            input:-webkit-autofill:focus {
                border: none;
                box-shadow: none;
                outline: none;
                background-color: transparent;
                transition: background-color 5000s;
                color: white;
                -webkit-text-fill-color: white;
                font-size: 14px;
                flex: 1;
            }
        }
    }
    .errorMsg {
        color: rgb(255, 158, 158);
        font-size: 0.8em;
        margin-top: 0.5em;
        margin-bottom: 2em;
    }

    .smsButton {
        border-radius: 4px;
        background: #fff;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
        color: #2148c0;
        text-align: center;
        font-size: 16px;
        padding: 6px 16px;
        outline: none;
        border: none;
        font-weight: 600;
        min-width: 132px;
    }

    .smsButtonHidden {
        visibility: hidden;
    }

    .loginButton{
        width: 300px;
    }
}


.container {
    background-image: url('BG.svg');
    flex-grow: 1;
    background-color: #4c29bf;
    /* Center and scale the image nicely */
    background-position: 30% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.mobileText {
    background-color: white;
}
