@charset "UTF-8";

*{
  box-sizing: border-box;
}

html {
  font-size: 18px;
  min-height: 100%;
}

body{
  font-family: Montserrat, Times, serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

@media screen and (min-width: 700px) { // ipad 700-1100px
  html {
    font-size: 19px;
  }
}

@media screen and (min-width: 1100px) { // desktop > 1100px
  html {
    font-size: 20px;
  }
}

